     
   <div class="well" align="center">   

       <%= simple_form_for([@party, @invite, @party.invites.build({:party_id => @party.id, :host_id => @party.user_id })]) do |f| %>

         
        <p>
           
            <%= f.hidden_field(:party_id, :value => @party.id) %>
        </p>

        <p>
           
            <%= f.hidden_field(:host_id, :value => @party.user_id) %>
         </p>



        <div class="form-group">

           <div><label for="invite-emails"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">Invite Guests</span></label></div>
           <br />

       
        <%= f.input :email, :input_html => { :style=> 'width: 520px', :rows => 5, label: :false}, :placeholder => "guest_one@example.com, guest_two@example.com, etc" %>


</div><br>

   <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black;") do %>
    <i class="fa fa-users" aria-hidden="true"></i>&nbsp;send invitation
  <% end %>


<% end %>


</p>

</div>

