       <%= simple_form_for([@party, @invite, @party.invites.build({:party_id => @party.id, :host_id => @party.user_id })]) do |f| %>

         
        <p>
           
            <%= f.hidden_field(:party_id, :value => @party.id) %>
        </p>

        <p>
           
            <%= f.hidden_field(:host_id, :value => @party.user_id) %>
         </p>



        <div class="form-group">

           <div><label for="invite-emails"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight:  bold; color: #00193a;">Invite Guests</span></label></div>
           <br />

   <label for="user-email" class="label" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #00193a;" >Type Email - one after the other</label><br /><br />
        <%= f.input :email, label: false, :placeholder => "One email at a time    - for example -  guest@yahoo.mail.com" %>


</div><br>

   <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', sans-serif; font-size: 16px; color: #00193a; ") do %>
    <i class="fa fa-users" aria-hidden="true"></i>send invitation
  <% end %>


<% end %>





