<% if @party != current_user.parties.first %>

 <%= link_to 'DATE', :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %>&nbsp;&nbsp;<%= localize(@party.created_at, format: :long) %><br /><br />
 <%= link_to 'VENUE', :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %>&nbsp;&nbsp;<%= @party.venue %><br /><br />



							<br />

							<p style="font-family: 'Oswald', serif; font-size: 22px; font-weight: italic; color: green">Pick and check from your friends list to invite for this occassion.</p>

<a href="" class="btn btn-primary" data-toggle="modal" data-target="#new_request_modal" style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black">Friends Request</a>

	    <div class="modal fade" id="new_request_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">      

			    <div class="modal-dialog">  

				           <div class="modal-content">

											  <div class="modal-header" style="font-family: 'Courgette', serif; font-size: 28px; font-weight: bold; color: red">

											    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                 

											       <h4 class="modal-title" id="myModalLabel">Friend Request</h4>
											                                    
											  </div>
				                                        
								      <div class="modal-body">
								                                                <%# Render the new person form (passing modal => true to enable remote => true) %>
									       <%= render 'requests/form', modal: true %> 

									                <div class="modal-footer" style="font-family: 'Courgette', serif; font-size: 28px; font-weight: bold; color: red">

									                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      														


											        </div>
								                              
						             </div>

				          </div>
		                          
		        </div>
	                        
	    </div><br>

	    <br>



                    
						


<br>

<p style="font-family: 'Oswald', serif; font-size: 22px; font-weight: italic; color: green">
           
           Your guests are an email and a click away from invitation to your occassion. 
  </p>

<%= render 'invites/form' %>

<% else %>

 <%= link_to 'DATE', :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %>&nbsp;&nbsp;<%= localize(@party.created_at, format: :long) %><br /><br /><br />
 <%= link_to 'VENUE', :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %>&nbsp;&nbsp;<%= @party.venue %><br /><br />


  <p style="font-family: 'Oswald', serif; font-size: 22px; font-weight: italic; color: green">
           
           Your guests are an email and a click away from invitation to your occassion. 
  </p>
 


<%= render 'invites/form' %>

<% end %>

