
<div class="title" style="font-family: 'Patrick Hand SC', cursive; font-size: 28px; color: #f25146; ">We are here to Serve You!</div>
                <div class="title-description" style="font-family: 'Patrick Hand SC', cursive; font-size: 28px; color: #f25146; ">Please contact us for any help or queries at all.</div>
                
<h1 style="font-family: 'Patrick Hand SC', cursive; font-size: 38px; color: green; ">Say Hello!</h1>

<div>

<div class="row">

      <div class="span6">

         

           <%= simple_form_for @message, url: create_message_path do |f| %>

            <%= notice %>

            <%= @message.errors.full_messages.join(', ') %>


           <%= f.input :name, as: :text %>

           <%= f.input :email, as: :text %>

           <%= f.input :body, as: :text, :rows => "8", :cols => "15"  %>

          <%= f.button :submit %>


             <% end %>

    
         
    </div>

  </div>



