<div class="well">

      <div class="media">

  
        <div class="media-body">

        <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: white">

        <%= f.label :image %>&nbsp;&nbsp;&nbsp;&nbsp;

          <%= f.file_field :image  %>
       </div><br /><br />

       <div class="row">

            <div class="col-xs-6">

             <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

               <%= f.label :name %>&nbsp;&nbsp;&nbsp;&nbsp;
               <%= f.text_field :name %>



            </div>

            </div>

            <div class="col-xs-6">

              <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

                        <%= f.label :age %>&nbsp;&nbsp;&nbsp;&nbsp;

                              <%= f.text_field :age %>

                    



              </div>

              </div>

              </div><br />

        <div class="row">
            <div class="col-xs-6">

          <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

             <%= f.label :gender %>&nbsp;&nbsp;

              <%= f.radio_button :gender, "Male" %>
              <%= label :gender, "male"  %>&nbsp;&nbsp;&nbsp;&nbsp;

              <%= f.radio_button :gender, "Female" %>
              <%= label :gender, "female"  %>
             


              </div>

           </div>  
           
        <div class="col-xs-6"> 

           <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

           <%= f.label :telephone %>&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.text_field :telephone %>

        </div>


        </div>


        </div><br />

        <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

        <%= f.label :hobbies %>&nbsp;&nbsp;&nbsp;&nbsp;

        <%= f.text_area :hobbies %>

        </div><br />


      <%= button_tag(type: 'submit', class: "btn btn-info", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: black;") do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Profile Update
      <% end %>

 