<div class="well">

      <div class="media">

  
        <div class="media-body">

        <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black">

        <%= f.label :image %>

          <%= f.file_field :image  %>
       </div><br /><br />

       <div class="row">

            <div class="col-xs-6">

             <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: black">

               <%= f.label :name %>
               <%= f.text_field :name %>



            </div>

            </div>

            <div class="col-xs-6">

              <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: black">

                        <%= f.label :age %>

                              <%= f.text_field :age %>

                    



              </div>

              </div>

              </div><br />

        <div class="row">
            <div class="col-xs-6">

          <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: black">

             <%= f.label :gender %>

              <%= f.radio_button :gender, "Male" %>

              <%= f.radio_button :gender, "Female" %>


              </div>

           </div>  
           
        <div class="col-xs-6"> 

           <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: black">

           <%= f.label :telephone %>

        <%= f.text_field :telephone %>

        </div>


        </div>


        </div><br />

        <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: black">

        <%= f.label :hobbies %>

        <%= f.text_area :hobbies %>

        </div><br />


    <%= f.submit "Create" %>

 