<%= f.hidden_field :email, :value => @profile.user.email %>
<div>
<fieldset>

 <h2 style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">Update Your Personal Details</h2><br /><br /><br /><br />
  <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">
    <div class="col-xs-6" >
      <h2>Your Picture</h2><br /><%= f.file_field :image   %>

       </div>
      <div class="col-xs-6">
          <h2>Header Picture</h2><br /><%= f.file_field :header_photo  %>
       </div>
    </div><br /><br /><br /><br />
    <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">
       <div class="col-xs-2"><br /> 
     
        <%= f.select :title, options_for_select(["Mr","Mrs","Master","Miss","Madam","Chief"]), {}, style: "color: #160900;" %>
       </div>
       <div class="col-xs-5">    
          <%= f.label :name %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :name %>
       </div>
       <div class="col-xs-5">
          <%= f.label :username %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :username %>
       </div>
    </div><br /><br /><br /><br />
     <div style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;"><br />
         <%= label :gender, "male"  %>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :gender, "Male" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <%= label :gender, "female"  %>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :gender, "Female" %>
       </div><br /><br /><br /><br />
      <div style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a; align-content: center;">
        
          <%= f.label :date_of_birth %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :age %>
      </div><br /><br /><br /><br />
      
      <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a; ">
       <div class="col-xs-6">
          <%= f.label :phone_number %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.text_field :telephone %>
       </div>
       <div class="col-xs-6">
           <%= f.label :mobile_number %>&nbsp;&nbsp;&nbsp;&nbsp;
           <%= f.text_field :mobile %>
       </div>
      </div><br /><br /><br /><br /> 
      <div style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">  
        <%= f.label :hobbies %><br /><br />
        <%= f.text_area :hobbies %> 
        </div><br /><br /> <br /><br />
         <%= button_tag(type: 'button', class: "next btn btn-primary", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 16px; color: #00193a;", :name => "next", :value => "Next") do %>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Next
      <% end %>
  </fieldset>

  <fieldset>
        
    <h2 style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">Contact Details</h2><br /><br />  
      <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">

        <div class="col-xs-3">
       </div>
       <div class="col-xs-6" >
          <%= f.label :address_line_1 %><br />
          <%= f.text_field :address_line_1 %><br /><br />
          <%= f.label :address_line_2 %><br />
          <%= f.text_field :address_line_2 %><br /><br />
          <%= f.label :city %><br />
           <%= f.text_field :address_city %><br /><br />
          <%= f.label :STATE %><br />
          <%= f.text_field :address_state %>

       </div>
       <div class="col-xs-3">
       </div>
      </div><br />

      <br /><br />

      <br />


       <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">

        <div class="col-xs-3">
       </div>
       <div class="col-xs-6" >

        <%= f.label :country %><br />
        <%= f.text_field :country %><br /><br />

        <%= f.label :nationality %><br />
        <%= f.text_field :nationality %>
          
       </div>
       <div class="col-xs-3">
       </div>
      </div><br /><br />

      <br /><br />
       <%= button_tag(type: 'button', class: "previous btn btn-warning", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: #00193a;", :name => "previous", :value => "Previous") do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Previous
      <% end %>
     <%= button_tag(type: 'button', class: "next btn btn-primary", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: #00193a;", :name => "next", :value => "Next") do %>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Next
      <% end %>
  </fieldset>
  <fieldset>

  <h2 style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">Tell us where you work. Or are you a student? </h2><br /><br /><br /><br />
   <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">

      <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">
    <div class="col-xs-6" >
      
           <%= f.label :work_place %><br />
          <%= f.text_field :work_place %>

       </div>
      <div class="col-xs-6">
          <%= f.label :school %><br />
          <%= f.text_field :school %>
       </div>
    </div><br /><br /><br /><br />

<div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">
        <div class="col-xs-3">
       </div>
       <div class="col-xs-7" >
          <%= f.label :work_address_line_1 %><br />
          <%= f.text_field :work_address_line_1 %><br /><br />
          <%= f.label :work_address_line_2 %><br />
          <%= f.text_field :work_address_line_2 %><br /><br />
          <%= f.label :city %><br />
           <%= f.text_field :work_address_state %><br /><br />
          
          
         <%= f.label :state %><br />
          <%= f.text_field :work_address_state %>

       </div>
       <div class="col-xs-2">
       </div>
      </div><br />

      <br /><br />

      <br />

   <div class="row" style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">
       <div class="col-xs-6" >
      
           <%= f.label :work_email %><br />
           <%= f.text_field :work_email %>

       </div>
       <div class="col-xs-6">
          <%= f.label :school_email %><br />
          <%= f.text_field :school_email %>
       </div>
    </div><br /><br /><br /><br />

  <div class="row" style="font-family: 'Julius Sans One'; sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">
       <div class="col-xs-6" >
           <%= f.label :professional_skill %><br />
          <%= f.text_field :professional_skill %>
       </div>
       <div class="col-xs-6">
          <%= f.label :course %><br />
          <%= f.text_field :course %>
       </div>
      </div><br /><br /><br /><br />
     
  <div class="row">

      <div class="col-xs-3">
       </div>
       <div class="col-xs-7" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">
          <%= f.label :work_phone %><br />
          <%= f.text_field :work_phone %>
       </div>
       <div class="col-xs-2">
       </div>
  </div><br /><br /><br /><br />

  <h2 style="font-family: 'Julius Sans One'; font-size: 16px; font-weight: bold; color: #00193a;">Are you on any of these? </h2><br /><br />
   
  <div style="font-family: 'Julius Sans One'; sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">

    
    
    <%= label_tag "social_network_group-facebook", "facebook" %>&nbsp;&nbsp;&nbsp;
    <%= check_box_tag 'profile[social_network_group][]', 'facebook', checked('facebook'), id: 'social_network_group-facebook' %>&nbsp;&nbsp;&nbsp;&nbsp;


     <%= label_tag "social_network_group-twitter", "twitter" %>&nbsp;&nbsp;&nbsp;
    <%= check_box_tag 'profile[social_network_group][]', 'twitter', checked('twitter'), id: 'social_network_group-twitter' %>&nbsp;&nbsp;&nbsp;&nbsp;


     <%= label_tag "social_network_group-linkedin", "linkedin" %>&nbsp;&nbsp;&nbsp;
    <%= check_box_tag 'profile[social_network_group][]', 'linkedin', checked('linkedin'), id: 'social_network_group-linkedin' %>&nbsp;&nbsp;&nbsp;&nbsp;


     <%= label_tag "social_network_group-instagram", "instagram" %>&nbsp;&nbsp;&nbsp;

    <%= check_box_tag 'profile[social_network_group][]', 'instagram', checked('instagram'), id: 'social_network_group-instagram' %>&nbsp;&nbsp;&nbsp;&nbsp;


     <%= label_tag "social_network_group-google+", "google+" %>&nbsp;&nbsp;&nbsp;

    <%= check_box_tag 'profile[social_network_group][]', 'google+', checked('google+'), id: 'social_network_group-google+' %>
     
      
      </div>   

<br /><br /><br /><br />
   
    <%= button_tag(type: 'button', class: "previous btn btn-warning", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: black;", :name => "previous", :value => "Previous") do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Previous
      <% end %>
      
   


      <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: black;") do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Profile Update
      <% end %>
  </fieldset>

</div>

