
<div><%= link_to 'myCatlog', profiles_path, :type => "button", :class => "btn btn-success", :style => "font-family: 'Patrick Hand SC', cursive; color: #00193a;" %></div>

<div class="container">
    <div class="fb-profile">
        <%= image_tag(@profile.header_photo.url(:large), :class => "fb-image-lg", :alt => "", :align => 'left' ) %>

        <%= image_tag(@profile.image.url(:original), :class => "fb-image-profile thumbnail", :align => 'left', :alt => "", :weight => "180", :height => "180") %>

        <div class="fb-profile-text">
            <h1 style="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: #010c23; font-weight: bold;"><%= @profile.user.name %></h1>
            <p style="font-family: 'Julius Sans One', sans-serif; color: #770156; font-weight: bold;"><%= @profile.address_city %><br /><%= @profile.country %></p>
        </div>
      
    </div>

  <div class="container">

<section id="contentbody">

   <div class="education-agileinfo" id="education">
        <h3 class="tittle-w3ls " ><span>M</span>Y <span>P</span>R<span>O</span>F<span>I</span>L<span>E</h3>
        <div class="container">
            <div class="col-xs-4 eduleft-agileinfo">


                <div class="left1-w3ls">
                    <h3></h3>
                </div>
               
               
                <div class="left1-w3ls">
                    <h3>Hobbies</h3>
                   <span class="fa fa-space-shuttle" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-8 eduright-agileinfo">


            <div class="right1-w3ls">
                   
                    <p style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: #00193a; font-weight: bold;"></p>
                </div><br /><br />
             
                <div class="right1-w3ls">
                   
                    <p style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: #00193a; font-weight: bold;"><%= @profile.hobbies %></p>
                </div>
               
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
                                   

</section>    

   <section id="contentbody">
    
     <div class="row">
     
       <div class=" col-6 col-sm-4 col-md-4 col-lg-4">
        
          <div class="leftbar_content">
           <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: #895404; font-weight: bold;">My Occasions</h2>
             <% @visitors = @profile.user.visitors.paginate(page: params[:visitor_page], per_page: 3) %>
                   
        <% @visitors.each do |visitor| %>
            <div class="single_stuff wow fadeInDown">
              <%= image_tag(visitor.party.picture.url(:original), :class => "single_stuff_img", :alt => "", :weight => "120", :height => "200") %>
              <div class="single_stuff_article">
                <div class="single_sarticle_inner"><a class="stuff_category", style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #895404; font-weight: bold;" href="#"><i  class="fa fa-glass"  fa-4x aria-hidden="true"></i>&nbsp;<strong><%= link_to (visitor.party.title), visitor_path(visitor) if visitor.party  %></strong></a></div>

          <div class="stuff_article_inner"> <span class="stuff_date"><%= visitor.party.date.strftime("%b #{visitor.party.date.day.ordinalize}, %Y") %><br /><%= visitor.party.time.strftime("%I:%m%p") %></span>
                    <h2><a href="pages/single.html"><%= visitor.party.venue %></a></h2>
                    <q style="color: #890323; font-weight: bold;"><%= visitor.party.message %></q>
                  </div>
                </div>
            </div>
          <% end %>

          </div>

           <%= will_paginate @visitors, :param_name => 'visitor_page', renderer: BootstrapPagination::Rails %>

       </div>    
        
            
      <div class="col-6 col-sm-4 col-md-4 col-lg-4">
    
          <div class="middlebar_content">

            <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: #028c09; font-weight: bold;">Friend/Family List</h2>

            <% @friends = @profile.user.friends.paginate(page: params[:friend_page], per_page: 6) %>
                         
                <% @friends.each do |friend| %>
                

  <div class="middlebar_content_inner wow fadeInUp">
                  <ul class="middlebar_nav">
                    <li class="mbar_title"><a class="mbar_thubnail" href="#"><%= image_tag(friend.buddy.profile.image.url(:original), :alt => "") %></a><strong><%= link_to("#{friend.buddy.name}", profile_path(friend.buddy.profile), :style => "font-family: 'Julius Sans One', sans-serif; font-size: 12px; font-weight: bold; color: #00193a;") %></strong><br /><br />
                     <strong><%= link_to 'delete friend', pouch_friend_path(:id => friend.id, :pouch_id => friend.pouch.id), :type => "button", :class => "btn btn-default", :style => "font-family: 'Montserrat', cursive; font-size: 14px; color: #820116;", method: :delete, data: { confirm: 'Are you sure?'} if friend.name? %></strong>
                    </li>
                  </ul>
                </div>
              
               <% end %>

            <%= will_paginate @friends, :param_name => 'friend_page', renderer: BootstrapPagination::Rails %>
        </div>
     
      </div>

      <div class="col-6 col-sm-4 col-md-4 col-lg-4 ">
        
          <div class="rightbar_content">
            <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: #8c0207; font-weight: bold;">Featured Photo Album</h2>
              <% @catalogues = @profile.user.catalogues.paginate(page: params[:catalogue_page], per_page: 3) %>

               <% @catalogues.each do |catalogue| %>
              <div class="single_blog_sidebar wow fadeInUp">
               
                  
                      <ul class="featured_nav">
                        <li><a href="#" class="featured_nav"><%= image_tag(catalogue.file_name.url, :weight => "270", :height => "200", :alt => "") %></a>


                        </li>
                       
                      </ul>

                      <% end %>

              <%= will_paginate @catalogues, :param_name => 'catalogue_page', renderer: BootstrapPagination::Rails %>
            </div>
          

          </div>

                   

       </div>


    </div>    


  </section> 

  <section id="contentbody">
    
     <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-6">

               <div class="leftbar_content">

                    <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: #8c0207; font-weight: bold;"> Interesting Post</h2>
                          <% @profile.user.visitors.each do |visitor| %>
                          <% @albums = visitor.albums.paginate(page: params[:album_page], per_page: 3) %>
                            <% @albums.each do |album| %>
                    <div class="single_blog_sidebar wow fadeInUp">
                          <ul class="featured_nav">
                            <li><a class="mbar_thubnail" href="#"><%= image_tag(album.picture.url(:original))%></a>
                              <div >Owner:&nbsp;<strong><a class="" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: #0e171c; font-weight: bold;" href="#"><%= album.visitor.name %></a></strong></div>
                            </li>
                          </ul>
                  </div>

                  <% end %>

                   <%= will_paginate @albums, :param_name => 'album_page', renderer: BootstrapPagination::Rails %>

                  
               <% end %>


                </div>



         
        </div>



        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="rightbar_content">

          <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: #0c0133; font-weight: bold;">Follow me on my social network group</h2>
                <% social_network_groups = @profile.social_network_group  %>
                <% if social_network_groups != nil %>
                    <div class="single_blog_sidebar wow fadeInUp">   
                      <ul class="poplr_tagnav">

                        <li style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #070000; font-weight: bold;"><%= social_network_groups.chomp(' ') %></li>
                      </ul>

                      <% end %>
                    </div>

              </div>  
            </div>

     </div>   
     
 </section>   

</div>

</div>







Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18] ActionView::Template::Error (undefined method `id' for nil:NilClass): 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     100:   <div class="middlebar_content_inner wow fadeInUp"> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     101:                   <ul class="middlebar_nav"> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     102:                     <li class="mbar_title"><a class="mbar_thubnail" href="#"><%= image_tag(friend.buddy.profile.image.url(:original), :alt => "") %></a><strong><%= link_to("#{friend.buddy.name}", profile_path(friend.buddy.profile), :style => "font-family: 'Julius Sans One', sans-serif; font-size: 12px; font-weight: bold; color: #00193a;") %></strong><br /><br /> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     103:                      <strong><%= link_to 'delete friend', pouch_friend_path(:id => friend.id, :pouch_id => friend.pouch.id), :type => "button", :class => "btn btn-default", :style => "font-family: 'Montserrat', cursive; font-size: 14px; color: #820116;", method: :delete, data: { confirm: 'Are you sure?'} if friend.name? %></strong> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     104:                     </li> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     105:                   </ul> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]     106:                 </div> 
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18]    
Mar 16 07:14:14 secret-castle-41003 app/web.1: [f47efb3b-ffb7-4fa6-a92a-204edc8bff18] app/views/profiles/show.html.erb:103:in `block in 