    
<ul style="list-style: none;">

    <li id="comment_<%= comment.id %>" class="comment">
 
      <small>
       <a class="pull-left" href="#" style ="font-family: 'Julius Sans One', sans-serif; font-size: 10px; font-weight: bold; color: #f25d07">
             <%= image_tag(comment.visitor.user.profile.image.url(:large), :weight => "40", :height => "30", cached: true) %>
             <%= comment.name %>&nbsp;&#x2605;&nbsp;&nbsp;<%= localize(comment.created_at, format: :long) %>
        </a> 
      </small><br /><br />
      <div class="pull-left" style ="font-family: 'Julius Sans One', sans-serif; font-size: 10px;  color: black;"">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.body %>
      </div><br /><br />
      <div class="comment-info" style ="font-family: 'Julius Sans One', sans-serif; font-size: 10px; font-weight: bold; color: black">
      <p class="pull-left" >
      
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&spades;&nbsp;&nbsp;&nbsp;<%= link_to "reply", polymorphic_path([:reply, @visitor, comment]), class: 'reply-comment-link', remote: true, :style => "font-family: 'Julius Sans One', sans-serif; font-size: 10px; color: black" %>
      
      </p></div><br /><br />
      <% if comment.replies.any? %>
        <ul style="list-style: none;">

        <% cache comment do %>
          <%= render comment.replies %>
        </ul>
      <% end %>

      <% end %>

    </li>

</ul>

 