<ul style="list-style: none;">
  <li id="comment_<%= comment.id %>" class="comment">
       <div class="pull-left" href="#" style ="font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: bold; color: #915b05;">
             <%= image_tag(comment.visitor.user.profile.image.url(:original), :weight => "50", :height => "40") %>&nbsp;&nbsp;&nbsp;
             <%= comment.name %>&nbsp;&#x2605;&nbsp;&nbsp;<%= localize(comment.created_at, format: :long) %>
             
        </div><br /><br /><br />
       <div style ="font-family: 'Montserrat', sans-serif; font-size: 18px;  color: #00193a;">
            <%= comment.body %>
      </div><br />
   
      <div class="comment-info">
       <a class="pull-left" >
        <%= link_to "reply", polymorphic_path([:reply, @visitor, comment]), class: 'reply-comment-link', remote: true, :style => "font-family: 'Source Code Pro', monospace; font-size: 16px; color: #00193a; font-weight: bold;"%>
      </a>
      </div><br />


      <% if comment.replies.any? %>
        <ul style="list-style: none;">

          <%= render comment.replies %>

        </ul>
    

      <% end %>

    </li>

</ul>
