<div class="well">
  
  <div class="media">

  
    <div class="media-body">
        
        

         <a class="pull-left" href="#">

         

                   <%= image_tag(comment.party.user.profile.image.url(:thumb), :class => "media-object") %>
        </a>&nbsp :- &nbsp 
                
                         <p><%= comment.body %></p>
               <p class="comment_time"><%= comment.created_at %></p>


         

			   </div>


                <%= link_to 'reply', '#new_comment_modal', 'data-toggle' => 'modal'%>

                    <div class="modal fade" id="new_comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Respond to a Comment</h4>
                              </div>
                              <div class="modal-body">
                                <%# Render the new person form (passing modal => true to enable remote => true) %>

                                <% if comment != nil %>

                                   <% @parent = comment %>

                                    
                                        <%= render 'comments/reply_form', modal: true %>

                                      

                                    <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                  <div class="reply_content">
                <%= render comment.replies if comment.replies.any? %>
                </div>
			   
	           

	           


                  
        </div>
      
    </div>