<div id="comments-widget-of-visitor-<%= @visitor.id %>" class="comments-widget">

    <h2 class="comments-header" style="font-family: 'Vollkorn SC', serif; font-size: 18px; color: black; font-weight: bold;" >
       Comments&nbsp;<small id="comments-count-of-visitor-<%= @visitor.id %>" ><span class="badge bg-important badge-danger" class="comments-header" style="font-family: 'Vollkorn SC', serif; font-size: 18px; color: black; font-weight: bold;" ><%= @visitor.party.comments.size %></span></small>
    </h2>

    <br />
    <br />
    <ul class="comments-list">

      <%= render @visitor.party.comments.where(parent: nil) %>

    </ul>
    <!-- comment-form -->
      <%= render "comments/form", comment: @visitor.comments.build  %>
  
</div>



