<% modal ||= false %>
   <% remote = modal ? true : false %>

         <div class="page_wrapper">

           <div style="font-family: 'Karma', serif; border-bottom: 1px solid lightgrey; padding-bottom: 0.5em ">
             <%= image_tag(notification.party.user.profile.image.url(:original), :class => "img-rounded", :alt => "", :weight => "60", :height => "60") %>
                <h3 style="font-size: 18px; color: #00193a; font-weight: bold;">
                    <%= notification.party.user.name %>,&nbsp;&nbsp;has invited you to their<br /><br />
                <b style="color: blue;"><%= notification.party.title  %></b><br />This Occasion is scheduled for the <br /></h3>

                <h4><strong style="color: #915b05; font-weight: bold;"><%= notification.party.date %>&nbsp;&nbsp;&nbsp;@&nbsp;<%= notification.party.time.strftime("%I:%M%p") %></strong>   
                </h4>

    
             <%= render(:template => "notifications/edit", :locals => { :notification => notification}) %>
  
         </div><br /><br />
