 <% modal ||= false %>
   <% remote = modal ? true : false %>

       <% cache notification do %>

         <div class="page_wrapper">

           <div style="border-bottom: 1px solid lightgrey; padding-bottom: 0.5em">


                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 12px; color: #00193a; font-weight: bold;">Host&nbsp;&nbsp;<strong style="color: #915b05; font-weight: bold;"><%= notification.party.user.name %></strong> has sents you an Invitation</h4>

                
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 12px; color: #00193a; font-weight: bold;">to their occasion -&nbsp;&nbsp;<strong style="color: #915b05; font-weight: bold;"><%= notification.party.title  %></strong></h4>


                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 12px; color: #00193a; font-weight: bold;">This Occasion is scheduled for the &nbsp;<strong style="color: #915b05; font-weight: bold;"><%= notification.party.date %><br />@&nbsp;&nbsp;<%= @party.time.strftime("%I:%M%p") %></strong>
      
      </h4>
                

                <% if notification != nil %>

                   <% @visitor = notification.visitor %>


                <div class="btn btn-primary"><%= link_to "Accept", visitor_path(@visitor), :style =>"font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: #00193a;" %></div>

              
               <% end %>
             
         </div>



         
      
    <% end %>

