 <% modal ||= false %>
   <% remote = modal ? true : false %>

       <% cache notification do %>

         <div class="page_wrapper">

           <div style="border-bottom: 1px solid lightgrey; padding-bottom: 0.5em">


                <h4 style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">Host:-<%= notification.party.user.name %> Sents you an I.V </h4>

                
                <h4 style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">to the occassion - (<%= notification.party.title  %>)</h4>


                <h4 style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">This Occasion is scheduled for the &nbsp;<strong style="color: red; font-weight: bold;"><%= notification.party.date %><br />@&nbsp;&nbsp;<%= notification.party.time %></strong>
      
      </h4>
                

                <% if notification != nil %>

                   <% @visitor = notification.visitor %>


                <div class="btn btn-danger"><%= link_to "Accept", visitor_path(@visitor), :style =>"font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black" %></div>

              
               <% end %>
             
         </div>



         
      
    <% end %>

