
<% modal ||= false %>
   <% remote = modal ? true : false %>

<%= simple_form_for([@party, @request, @party.requests.build({:party_id => @party.id, :host_id => @party.user_id })], remote: remote, html: {role: :form, 'data-model' => 'request'}) do |f| %>
 
   

   <%= f.hidden_field(:party_id, :value => @party.id) %>

   
   <%= f.hidden_field(:host_id, :value => @party.user_id) %>

		<% @friends = current_user.friends.all %>

		  <% @friends.each do |friend| %>


		   <% if friend.invite.party != @party %>

       <div class="col-sm-4 ">

           <div style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black">

			       <%= label_tag "request[email][][#{friend.email}]", "#{image_tag(friend.buddy.profile.image.url(:large), :width => "40", :height => "40" )}".html_safe + friend.name %>&nbsp;
			   
		          <%= check_box_tag "request[email][]", friend.email, (checked = true if current_user.friends.include?(friend.email)), :email => friend.email %></div>

              </div>

		          <% end %>


     <% end %>

     <br />

     <br />

     <%= button_tag(type: 'submit', class: "btn btn-primary" , :style => "font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black;") do %>
         
         <i class="fa fa-users" aria-hidden="true"></i>&nbsp;send request
         
  <% end %>
    

<% end %>
