<div class="row">
      <div class="span6">

          <form id="contact-form" class="contact-form" >

           <%= simple_form_for Contact.new do |f| %>


           <%= f.input :name, as: :text, :placeholder => "Full Name"  %>

           <%= f.input :email, as: :text, :placeholder => "Email Address" %>

           <%= f.input :message, as: :text, :placeholder => "Your Message", :rows => "8", :cols => "15"  %>

           <%= f.button :submit %>

             <% end %>

            </form>
         
        </div>

    </div>


