 <div class="item">

        <div class="animate-box">
          <a href="<%= album.picture %>" class="image-popup fh5co-board-img" ><%=  image_tag(album.picture.url(:medium), alt: '', cached: true) %></a>
       
          
         </div>

         <div class="fh5co-desc" style="font-family: 'Julius Sans One', serif; font-size: 14px; color: #915b05; font-weight: bold;">Posted By:  <%= album.visitor.user.name %><br />Caption:  <%= album.caption %><br /> <div class="btn-group pull-left" >

                    <%= link_to like_visitor_album_path(:visitor_id => @visitor.id, :album_id => album.id), class: "like", method: :put do %>

                        <span class="fa fa-chevron-up" style ="font-size: 12px; color: #00193a;"></span>&nbsp  &nbsp
                     

                     <%= album.get_upvotes.size %>&nbsp  &nbsp

                    <i class="fa fa-thumbs-up" aria-hidden="true" style ="font-size: 12px;color: #00193a;"></i>

                         
                <% end %>

                </div>

              </div>


    </div>     


 

