 <div class="well">

      <div class="media">

  
        <div class="media-body">

          <%= simple_form_for([@visitor, @album, @visitor.albums.build]) do |f| %>
            
              <p>

             <%= f.hidden_field :visitor_id, :value => @visitor.id %>
             <%= f.hidden_field :party_id, :value => @visitor.party.id %>

             </p>

  
         <form role="form">
                
           <div class="form-group">
        
             <a class="pull-left" href="#">

                <%= image_tag(@visitor.user.profile.image.url(:thumb), :class => "media-object") %>

              </a>  

              </div>

              <div class="form-group">

  
                 
                  <%= f.input :picture, as: :file %>

                </div>  

                <div class="form-group">

                 <%= f.input :caption, as: :text %>

                 </div>

 
           <div class="form-group">
              <%= f.submit %>
           </div>

           </form>

           &nbsp;&nbsp;&nbsp;
        

           </div>

           <%= link_to 'Photo Party', photos_path(:party_id => @visitor.party.id)  %>

           </div>
           
   <% end %>


</div>

</div>

</div>

