<div class="well">
  <div class="container">

      <%= form_for([@visitor, @album, @visitor.albums.build], html: { multipart: true }) do |f| %>
      <%= f.hidden_field :visitor_id, :value => @visitor.id %>
      <%= f.hidden_field :party_id, :value => @visitor.party.id %>

   

           <div class="row">

             <div align="center" class="col-sm-8">

                <div class="fileUpload btn btn-warning" >
                <span style ="font-family: 'Vollkorn SC', serif; font-size: 14px; color: #00193a; font-weight: bold; ">Post</span>

                 <input id="album_picture" type="file" class="upload" name="album[picture]" />

                
                </div><br /><br />
                 

             </div>

           </div>
           
            <div class="row">  
         
           <div class="col-sm-4">

           <div class="form-group" style="font-family: 'Vollkorn SC', serif; font-size: 14px; font-weight: bold; color: #00193a;">

              File_Name&nbsp;&nbsp;&nbsp;&nbsp;<input id="album-picture" placeholder="Choosen File Name" disabled="disabled" />

              </div>

            </div>  

            <div class="col-sm-4">


                <div class="form-group" style="font-family: 'Vollkorn SC', serif; font-size: 14px; font-weight: bold; color: #00193a;">

                   <label for="caption"> Caption </label>&nbsp;&nbsp;&nbsp;&nbsp;

                   <%= f.text_field :caption %>

                </div>

            </div>

          </div>  

        <div class="row">

        <div align="center" class="col-sm-8">


            <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', cursive; font-size: 14px; color: black;") do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;your post
            <% end %>

            </div>

            </div>

         </div>  

  
      <% end %>

   </div>
</div>
