 
<div class="well">

  <%= simple_form_for([@visitor, @album, @visitor.albums.build]) do |f| %>
   
             <%= f.hidden_field :visitor_id, :value => @visitor.id %>
             <%= f.hidden_field :party_id, :value => @visitor.party.id %>

           <div class="form-group">

             

              
            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" >


                 <%= f.input :picture, as: :file, label: false %>

            </div><br />

            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" >


                <%= f.input :caption, label: 'Tell us about this Picture', wrapper_html: { class: 'username' } %>

            </div><br />


              <div class="group" style="font-family: 'Mogra', cursive; font-size: 14px;">

                <%= f.submit "Post Pictures" %>

                           

          </div><br />

       
 
              
     
   <% end %>

   </div>