 
<div class="well">

  <%= form_for([@visitor, @album, @visitor.albums.build], html: { multipart: true }) do |f| %>

   
             <%= f.hidden_field :visitor_id, :value => @visitor.id %>
             <%= f.hidden_field :party_id, :value => @visitor.party.id %>

           <div class="form-group">

            <div class="fileUpload btn btn-primary">
                <span>Post an Image</span>

                <input id="album_picture" type="file" class="upload" name="album[picture]" />

                
            </div>

            <input id="album-picture" placeholder="Choose File" disabled="disabled" />
          <br /><br />



            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" >

           &nbsp;&nbsp; <label for="caption"> Put a Caption </label>


              &nbsp;&nbsp;  <%= f.text_field :caption %>

            </div>

              <div class="group" style="font-family: 'Mogra', cursive; font-size: 14px;">

             &nbsp;&nbsp;   <%= f.submit "Post Pictures" %>

                           

          </div><br />
    

       
 
              
     
   <% end %>

   </div>


