 
<div class="well">

  <%= form_for([@visitor, @album, @visitor.albums.build], html: { multipart: true }) do |f| %>

   
             <%= f.hidden_field :visitor_id, :value => @visitor.id %>
             <%= f.hidden_field :party_id, :value => @visitor.party.id %>

           <div class="form-group">

            <div class="fileUpload btn btn-primary" style="font-family: 'Montserrat', sans-serif; font-size: 14px; color: #00193a; ">
                <span>Add a Photo/Posts</span>

                <input id="album_picture" type="file" class="upload" name="album[picture]" />

                
            </div><br /><br />

            <input id="album-picture" placeholder="Choose File" disabled="disabled" />
          <br /><br />



            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;" >

           &nbsp;&nbsp; <label for="caption"> Put a Caption </label>


              &nbsp;&nbsp;  <%= f.text_field :caption %>

            </div>

              <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', cursive; font-size: 14px; color: black;") do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Post Pictures
      <% end %>

                           

    

       
 
              
     
   <% end %>

   </div>


