 <div class="well">


      
      <div class="media">

  
        <div class="media-body">

          <%= form_tag 'visitor/albums', method: :post, class: 'dropzone form', id: 'media-dropzone' do %>

         
              <%= hidden_field_tag :visitor_id, @visitor.id %>


              <%= hidden_field_tag :party_id, @visitor.party.id %>
         
  
            <div class="fallback">

              <%= file_field_tag 'picture', multiple: true %>

           </div>  

                
                <%= text_field_tag :caption %>

                <%= submit_tag %>
           
        

           
   <% end %>


</div>

</div>

</div>


