  <%= simple_form_for([@visitor, @album, @visitor.albums.build]) do |f| %>
   
             <%= f.hidden_field :visitor_id, :value => @visitor.id %>
             <%= f.hidden_field :party_id, :value => @visitor.party.id %>

           <div class="form-group">

             <a class="pull-left" href="#" >

                <%= image_tag(@visitor.user.profile.image.url(:large), :weight => "60", :height => "60") %><br /><br />

                <p style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; font-weight: bold; color: #915b05;"><%= @visitor.user.name %></p>

              </a> <br /><br />&nbsp;&nbsp;&nbsp;
              </div><br><br />
              
              <br />
            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" >


                 <%= f.input :picture, as: :file, label: false %>

            </div><br />

            <div class="form-group" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" >


                <%= f.input :caption, label: 'Tell us about this Picture', wrapper_html: { class: 'username' } %>

            </div><br />


              <div class="group" style="font-family: 'Mogra', cursive; font-size: 14px;">

                <%= f.submit "Post Pictures" %>

                           

          </div><br />

       
 
              
     
   <% end %>