

        <%= simple_form_for(:reservation, :url => {:action => 'create', :visitor_id => @visitor.id}) do |f| %>
             

                   <%= f.input :party_id, as: :hidden, input_html: {value: @visitor.party.id } %>

                   <%= f.input :visitor_id, as: :hidden, input_html: {value: @visitor.id } %>

                   <%= f.input :name, as: :hidden, input_html: {value: @visitor.user.name} %>

                 

     

                      <div style ="font-family: 'Julius Sans One', sans-serif; font-size: 9px; color: black;">
                        <%= label :accept, "Accept With Pleasure", value: true %>
                        <%= f.radio_button :accept, true, :value => true %>&nbsp;&nbsp;&nbsp;&nbsp;

                        <%= label :accept, "Decline With Regards", value: false %>
                        <%= f.radio_button :accept, false, :value => false%>
                      </div><br />

                         <div class="form-group" class="group" style="font-family: 'Patrick Hand SC', cursive; font-size: 10px;  color: black;">

                          <%= f.submit %>
                          
                       </div>

            <% end %>







