

        <%= simple_form_for([@visitor, @reservation, Reservation.new]) do |f| %>
             

                   <%= f.input :party_id, as: :hidden, input_html: {value: @visitor.party.id } %>

                   <%= f.input :visitor_id, as: :hidden, input_html: {value: @visitor.id } %>

                   <%= f.input :name, as: :hidden, input_html: {value: @visitor.user.name} %>

                 
                  <div style ="font-family: 'Vollkorn SC', serif; font-size: 16px; color: #020a00; font-weight: bold; ">

                        <%= label :accept, "Accept With Pleasure" %>&nbsp;&nbsp;
                        <%= f.radio_button :accept, true, :value => true %><br /><br />

                      <%= label :accept, "Decline With Regards" %>&nbsp;&nbsp;
                        <%= f.radio_button :accept, false, :value => false %>
                      </div><br />

                         <div class="form-group" class="group" style="font-family: 'Vollkorn SC', serif; font-size: 16px;  color: #020a00;">

                          <%= f.submit %>
                          
                       </div>

            <% end %>






