

        <%= simple_form_for([@visitor, @reservation, Reservation.new]) do |f| %>
             

                   <%= f.input :party_id, as: :hidden, input_html: {value: @visitor.party.id } %>

                   <%= f.input :visitor_id, as: :hidden, input_html: {value: @visitor.id } %>

                   <%= f.input :name, as: :hidden, input_html: {value: @visitor.user.name} %>

                 

        <p style ="font-family: 'Julius Sans One', sans-serif; font-size: 24px; color: green; font-weight: bold;">
        R S V P</p>
                      <div style ="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">
                        <%= label :accept, "Accept With Pleasure", value: true %>&nbsp;&nbsp;
                        <%= f.radio_button :accept, true, :value => true %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <%= label :accept, "Decline With Regards", value: false %>&nbsp;&nbsp;
                        <%= f.radio_button :accept, false, :value => false%>
                      </div><br />

                         <div class="form-group" class="group" style="font-family: 'Patrick Hand SC', cursive; font-size: 10px;  color: black;">

                          <%= f.submit %>
                          
                       </div>

            <% end %>







