 <div class="well well-sm">

      <div class="media">

  
        <div class="media-body">

            <%= simple_form_for Reservation.new do |f| %>
             

                   <%= f.input :party_id, as: :hidden, input_html: {value: @visitor.party.id } %>

                   <%= f.input :visitor_id, as: :hidden, input_html: {value: @visitor.id } %>

                   <%= f.input :name, as: :hidden, input_html: {value: @visitor.user.name} %>

                   <%= f.input :title, as: :hidden, input_html: {value: @party.title} %>

              <h3 style ="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;" > Are you attending? </h3><br>

                      <div style ="font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: black;">
                        <%= label :accept, "Accept With Pleasure", value: true %>
                        <%= f.radio_button :accept, true, :checked => true, :value => true %>
                      </div><br />
                      <div style ="font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: black;">
                        <%= label :accept, "Decline With Regards", value: false %>
                        <%= f.radio_button :accept, false, :value => false%>
                      </div><br /><br />

                         <div class="form-group" class="group" style="font-family: 'Patrick Hand SC', cursive; font-size: 14px;  color: black;">

                          <%= f.submit %>
                          
                       </div>

            <% end %>


     </div>

    </div>

  </div>
