
<div id="page_wrapper">

    <div class="container">

    <section id="features">

<%= render 'catalogues/form' %>


      <div class="well">
        <h4 style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: black; font-weight: bold;">Occassion Album</h4><br />
        <div class="row">
          <div class="col-xs-12" >
            <%= form_tag '/delete_catalogue', method: :delete do %>
              <%= submit_tag 'Delete', id: 'delete', class: 'btn btn-danger', disabled: @catalogues.empty? %>
              <br /> <br />
              <div class="row">
                <div id="media-contents" class="col-xs-12">
                  <% if @catalogues.empty? %>
                    <h5 id="no-media" style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black">Empty Catalogue</h5><br />
                  <% else %>
                    <% @catalogues.each do |catalogue| %>

                       <% cache catalogue do %>

                      <div class="col-xs-2">
                        <div class="thumbnail">
                          <%= image_tag catalogue.file_name.url %>
                          <div class="caption">
                            <p>
                              <%= check_box_tag 'catalogues[]', catalogue.id %>
                            </p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <% end %>
            <% end %>
          </div>
          <div class="col-xs-1">
            <%= link_to 'Delete All', delete_all_path, method: :delete, id: 'delete-all', class: 'btn btn-danger', :style => "font-family: 'Patrick Hand SC', cursive; font-size: 12px;  color: black;", disabled: @catalogues.empty? %>
          </div>
        </div>
      </div>
    </div>
 
<br />
<br />


<%= link_to 'View Album', visitor_catalogues_register_path(:visitor_id => @party.visitors.first.id, :party_id => @party.id, :title => @party.title), :type => "button", :class => "btn btn-danger", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 12px; font-weight: bold; color: black"  %>


</section>

</div>

</div>


