<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="https://www.w3.org/1999/xhtml" >
  <head>

   
         <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TW3CBKQ');</script>
  <!-- End Google Tag Manager -->

<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on.">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- OpenGraph for Facebook. -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on." />
    <meta property="og:url" content="www.baffsup.com" />
    <meta property="og:description" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on." />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:app_id" content="598471493531497" />

    <!-- Twitter Cards -->
    <meta name="twitter:site" content="https://baffsup.com">
    <meta name="twitter:title" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on.">
    <meta name="twitter:description" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on.">
    <meta name="twitter:image:src" content="">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="app"/>
    <meta name="twitter:app:country" content="NG"/>
    <meta name="twitter:app:name:iphone" content="Baffsup"/>
    <meta name="twitter:app:id:iphone" content=""/>
    <meta name="twitter:app:url:iphone" content="Baffsup://"/>
    <meta name="twitter:app:name:ipad" content="Baffsup"/>
    <meta name="twitter:app:id:ipad" content="888657240"/>
    <meta name="twitter:app:url:ipad" content="Baffsup://"/>
    <meta name="twitter:app:name:googleplay" content="Baffsup"/>
    <meta name="twitter:app:id:googleplay" content="com.app.baffsup"/>
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.app.baffsup&hl=en"/>  

   


   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :true %>
    
    <%= stylesheet_link_tag    "login" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link href="https://fonts.googleapis.com/css?family=font-family: Montserrat|Mogra|Julius+Sans+One|Patrick+Hand+SC" rel="stylesheet">



   

     <style>
      body {
  
            font-family: 'Mogra', cursive;
            font-family: 'Montserrat', sans-serif;
            
            font-family: 'Julius Sans One', sans-serif;

            font-family: 'Patrick Hand SC', cursive;

            
    
      }
    </style>
    
    <%= csrf_meta_tags %>
  </head>

  <header>
    <div class="sticky-nav">

      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
               
        <nav id="menu">
          <ul id="menu-nav">

                <li class="active"><div class="buttons"><%= link_to 'Home', root_path, :style => "font-family: 'Patrick Hand SC', cursive; color: #00193a;" %></div></li>

               
                        
 
            </ul>
        </nav>


    </div>

     </header>

  <body>

  <!-- Google Tag Manager (noscript) -->
<noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TW3CBKQ"
         height="0" width="0" style="display:none;visibility:hidden">
         
       </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

  

    <%= yield %>


  <footer >

  <p class="credits" style="color: black;" >&copy;&nbsp;&nbsp;2017 Baffsup.com, Crafted by <a href="http://designscrazed.org/" title="Baffsup | Load Anything ...">&nbsp;&nbsp;Dev Team</a></p>


      <a class="btn-slide animation animated-item-3" href="/abouts/1">About</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/how_it_works/1">How It Works</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/term_and_conditions/1">Terms & Conditions</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/privacies/1">Privacy</a>&nbsp | &nbsp

      <%= link_to "Contact Us...", new_message_path, :class => "btn-slide animation animated-item-3" %>




</footer> 



     

  </body>

  <%= javascript_include_tag "application", 'data-turbolinks-track': :true %>

   



</html>


