<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="https://www.w3.org/1999/xhtml" >
  <head>

   
        <html itemscope itemtype="http://schema.org/Article">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
        <meta name="description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments" />
        <meta itemprop="name" content="Baffsup for your occassion">
        <meta itemprop="description" content="Baffsup for your occassion">
        <meta name="twitter:card" content="organize, your guests, get them to RSVP">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="Baffup for your occassion">
        <meta name="twitter:description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments">
        <meta name="twitter:creator" content="@author_handle">
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg">
        <meta property="og:title" content="Baffsup for your occassion" />
        <meta property="og:type" content="Baffsup" />
        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments" />
        <meta property="og:site_name" content="baffup" />

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :true %>
    
    <%= stylesheet_link_tag    "login" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link href="https://fonts.googleapis.com/css?family=Mogra|Julius+Sans+One|Patrick+Hand+SC" rel="stylesheet">



   

     <style>
      body {
  
            font-family: 'Mogra', cursive;
            
            font-family: 'Julius Sans One', sans-serif;

            font-family: 'Patrick Hand SC', cursive;

            
    
      }
    </style>
    
    <%= csrf_meta_tags %>
  </head>

  <header>
    <div class="sticky-nav">

      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
               
        <nav id="menu">
          <ul id="menu-nav">

                <li class="active"><div class="buttons"><%= link_to 'Home', root_path, :style => "font-family: 'Patrick Hand SC', cursive; color: black;" %></div></li>

               
                        
 
            </ul>
        </nav>


    </div>

     </header>

  <body>

  

    <%= yield %>


  <footer >

  <p class="credits" style="color: black;" >&copy;&nbsp;&nbsp;2017 Baffsup.com, Crafted by <a href="http://designscrazed.org/" title="Baffsup | Load Anything ...">&nbsp;&nbsp;Dev Team</a></p>


      <a class="btn-slide animation animated-item-3" href="/abouts/1">About</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/how_it_works/1">How It Works</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/term_and_conditions/1">Terms & Conditions</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/privacies/1">Privacy</a>&nbsp | &nbsp

      <%= link_to "Contact Us...", new_message_path, :class => "btn-slide animation animated-item-3" %>




</footer> 



     

  </body>

  <%= javascript_include_tag "application", 'data-turbolinks-track': :true %>

   



</html>


