<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
     <meta name="google-site-verification" content="AvgAQiCE-hKfW5hCXrfAni98Sj1ljluC7fUeTRPQxw0" />
     <meta name="description" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on.">
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :true %>
    
    <%= stylesheet_link_tag    "login" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link href="https://fonts.googleapis.com/css?family=font-family: Montserrat|Mogra|Julius+Sans+One|Patrick+Hand+SC" rel="stylesheet">



   

     <style>
      body {
  
            font-family: 'Mogra', cursive;
            font-family: 'Montserrat', sans-serif;
            
            font-family: 'Julius Sans One', sans-serif;

            font-family: 'Patrick Hand SC', cursive;

            
    
      }
    </style>
    
    <%= csrf_meta_tags %>
  </head>

  <header>
    <div class="sticky-nav">

      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
               
        <nav id="menu">
          <ul id="menu-nav">

                <li class="active"><div class="buttons"><%= link_to 'Home', root_path, :style => "font-family: 'Patrick Hand SC', cursive; color: #00193a;" %></div></li>

               
                        
 
            </ul>
        </nav>


    </div>

     </header>

  <body>

  <!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

  

    <%= yield %>


  <footer >

  <p class="credits" style="color: black;" >&copy;&nbsp;&nbsp;2017 Baffsup.com, Crafted by <a href="http://designscrazed.org/" title="Baffsup | Load Anything ...">&nbsp;&nbsp;Dev Team</a></p>


      <a class="btn-slide animation animated-item-3" href="/abouts/1">About</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/how_it_works/1">How It Works</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/term_and_conditions/1">Terms & Conditions</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/privacies/1">Privacy</a>&nbsp | &nbsp

      <%= link_to "Contact Us...", new_message_path, :class => "btn-slide animation animated-item-3" %>




</footer> 



     

  </body>

  <%= javascript_include_tag "application", 'data-turbolinks-track': :true %>

   



</html>


