<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
     <meta name="google-site-verification" content="AvgAQiCE-hKfW5hCXrfAni98Sj1ljluC7fUeTRPQxw0" />
     <meta name="description" content="Baffsup | Plan your unforgettable occasions &amp; Catalog everyone of your memeorable parties, events, gettogther, ceremonies and so on.">

   <%= javascript_include_tag "application", 'data-turbolinks-track': :reload %>


    


    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link href="https://fonts.googleapis.com/css?family=Montserrat|Patrick+Hand+SC|Mogra|Julius+Sans+One" rel="stylesheet">

     <style>
      body {
  
            font-family: 'Montserrat', sans-serif;
            font-family: 'Mogra', cursive;
            font-family: 'Patrick Hand SC', cursive;
            font-family: 'Julius Sans One', sans-serif;
    
      }
    </style>


         <%= csrf_meta_tags %>
    
</head>



  <body id="top">

  <!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->



   <header id="header">

	  <div class="inner">

	     <a href="#" class="image avatar"><%= image_tag(current_user.profile.image.url(:original)) %></a>

			<div class="btn-group open">
			  <a class="btn btn-default" href="/profiles/1" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #915b05;"><i class="fa fa-user fa-fw"></i><%= "#{current_user.name}" %></a>


			</div><br />
			<br />

    <aside>
			

					<ul class="icons">

		 <br>

              <br />
              <br />
            
            
            
              
              
                        
          </ul>

          <br />
          
        


          
           <br />
           <br />
           <br />
          

            <p style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #915b05; font-weight: bold;">&copy; Baffsup 2017</p>


		</aside>

   </div>


	</header>
     

	<!-- Main -->
 <div id="main">

  <section id="one">

  </section>


  <section>

        <div class="row">

            <%= yield %>

         
       

        </div>

    </section>


	<section id="two">
    <strong><%= link_to 'Back', profiles_path, :type => "button", :class => "btn btn-warning", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: black;" %></strong><br>    
	</section>


	</body>


      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :reload %>

    <%= stylesheet_link_tag    'stratamain' %>
       
       
</html>


