<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" >
<head>
      
 <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TW3CBKQ');</script>
  <!-- End Google Tag Manager -->


    

    <%= javascript_include_tag "application" %>


     <%= stylesheet_link_tag    'application' %> 

    <%= stylesheet_link_tag    'new_form' %>
    


    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mogra|Ewert|Julius+Sans+One|Lily+Script+One|Petit+Formal+Script|Playball|Ravi+Prakash|Rye|Raleway|Tangerine|Inconsolata:italic|Droid+Sans|Amatic+SC|Josefin+Slab|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico" rel="stylesheet">

     <style>
      body {

      	     font-family: 'Annie Use Your Telescope', cursive;
             font-family: 'Pacifico', serif;
             font-family: 'Tangerine', serif;
             font-family: 'Inconsolata:italic', serif;
             font-family: 'Droid+Sans', serif;
             font-family: 'Amatic+SC', serif;
             font-family: 'Josefin+Slab', serif;
             font-family: 'Open+Sans', serif;
             font-family: 'Open+Sans+Condensed:300', serif;
             font-family: 'Oswald', serif;

             font-family: 'Mogra', cursive;

            font-family: 'Ravi Prakash', cursive;

            font-family: 'Playball', cursive;

            font-family: 'Julius Sans One', sans-serif;

            font-family: 'Petit Formal Script', cursive;

            font-family: 'Lily Script One', cursive;

            font-family: 'Rye', cursive;

            font-family: 'Ewert', cursive;

            font-family: 'Raleway', sans-serif;

             
           
      }
    </style>




         <%= csrf_meta_tags %>
    
</head>
<body>

  <div >



            <%= yield %>

            

        </div>


</body>
</html>