<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="google-site-verification" content="AvgAQiCE-hKfW5hCXrfAni98Sj1ljluC7fUeTRPQxw0" />
     
     <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
     <meta name="description" content="Baffsup | Plan and Manage your Unforgettable OCCASIONS. Catalog everyone of your PARTIES, EVENTS, GET TOGETHER, CEREMONIES and so on. Guest Invitations, RSVP, Photo Albums are few of the features you will enjoy.">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :reload %>

       <%= stylesheet_link_tag    'main' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Annie+Use+Your+Telescope|Permanent+Marker|Patrick+Hand+SC" rel="stylesheet">

     <style>
      body {
            font-family: 'Montserrat', sans-serif;
            font-family: 'Annie Use Your Telescope', cursive;
            font-family: 'Permanent Marker', cursive;
            font-family: 'Patrick Hand SC', cursive;
            
    
      
    </style>
  
       <%= csrf_meta_tags %>
     
</head>
<body>

<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<header>
    <div class="sticky-nav">

      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
      
        
        <nav id="menu">
          <ul id="menu-nav">

          <% if user_signed_in? %>

            <div class="buttons">
              <li class="current" style="font-family: 'Permanent Marker', cursive;"><%= link_to 'mYCatlog', profiles_path  %></i></li>
               
                <li style="font-family: 'Permanent Marker', cursive;"><%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete' %></li>


           <% else %>

           <div class="collapse navbar-collapse navbar-right">

                <li class="active" style="font-family: 'Permanent Marker', cursive;"><%= link_to "OCCASION LOADING...", profiles_path  %></li>

               
                <li style="font-family: 'Permanent Marker', cursive;"><%= link_to 'SIGN IN', new_user_session_path %></li>
                
 
            <% end %>    

            </ul>
        </nav>


    </div>

     </header>



 <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" >



                <div class="item active"  >

                    <div class="container" align="center">

                  
                        <div class="row slide-margin">

                    
                        
                           
                      <div class="carousel-content" >

                        <img src="/baffsup8.png", width="400" height="350" > 
                                   
                              

                        <div class="row">
                        
                           <div class="span12">

                              <div class="col-xs-2" >

                              </div>

                              <div class="col-xs-8" >

                              
                                 <h2 style="font-family: 'Montserrat', cursive; font-size: 20px; color: #faebd7" align="center">
                                 Baffsup is a platform with an all-in-one solution for managing your most memorable occasions,<br /> Carefully thought-out with crafted user oriented elegant designs. Baffsup provides a seemless ability to carry your friends and family along while preparing for your occasion.
                                 </h2>
                                
                              </div>
                                                  
                              <div class="col-xs-2" >
             
                              </div>

                          </div>

                        </div>
                                                    

                    </div>
                           

                           

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item">
                    <div class="container"  align="center" >
                      <div class="row slide-margin">
                        <div class="carousel-content">
                          <img src="/baffsup8.png", width="400" height="350" > 
                        <div class="row">
                           <div class="span12">
                              <div class="col-xs-2" >
                              </div>
                            <div class="col-xs-8" >
                               <h2 style="font-family: 'Montserrat', cursive; font-size: 20px; color: #f4d1a1 " align="center">Your Guests can send you RSVP to inform you of their intention to attend or not,<br /> which helps you in the planning and preparation for the occassion as the case may be. Attending or not, your guest can be a part of the party prepartions, even be a part of the d-day all in real time with the comments and the photo post features.</h2>     
                          </div>                  
                          <div class="col-xs-2" >

                          </div>

                      </div>

                      </div>

                    </div>
                                                   

                      
                            
                        </div>
                    </div>
                </div><!--/.item-->

            <div class="item"  >
                <div class="container"  align="center">

   
                    
                    <div class="row slide-margin">

                   
                         
                        <div class="carousel-content">

                        <img src="/baffsup8.png", width="400" height="350" > 
                        

                          <div class="row">
                             
                             <div class="span12">

                                <div class="col-xs-2" >

                                </div>

                                <div class="col-xs-8" >

                              
                                      
                                      <h2 style="font-family: 'Montserrat', cursive; font-size: 20px; color: #f4c37f " >Never miss out on any important occasion again!!! <br /><br />Baffsup provides a beautiful catlogs, with features that are easy to setup. With a few clicks
                                      you and your guests have started writing history about your planned occasion.<br /> Share your style, choose a colour theme and agree on all modalities for the occasion. </h2>
                                     
                                 </div>


                                 <div class="col-xs-2" >

                                 </div>
                                      

                           </div>


                      </div>
                      
                            
                        </div>
                    </div>

               </div>

                </div><!--/.item-->


            </div><!--/.carousel-inner-->

           


        </div><!--/.carousel-->

                
 

<!-- End Header -->

 <!-- Homepage Slider -->


      
<!-- End Homepage Slider -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">

            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title" style="font-family: 'Patrick Hand SC', cursive; font-size: 58px; color: #915b05; ">LOAD ALL YOUR EVENTS, PARTIES, CEREMONIES, MEETINGS ETC </h2>
                        <h3 class="title-description" style="font-family: 'Pacifico', serif; font-size: 28px; color: #3d5359;">Join for Free &amp; Start Loading</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
              <div class="col-xs-4" >
                      <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Manage Your Invitation</span>
                        </div>
                        <img src="invitation_new.jpg" alt="invite">
                   </div>
                   
                    <p class="profile-description" style="font-family: 'Montserrat', cursive; font-size: 18px; color: #00193a;">GUESTS invitation happens with a single clicks. Inviting a new GUEST, provide their email address. Your list of previously invited guests on a different occasion are invited by a single click. 
                    Engage your guests such that all important information regarding the occasion can be shared in real time. Information about changes to plan, Dress code - ASO EBI, party themes etc. Guest are also able to send their greetings and even respond to your information.</p>
                      
                    
                </div>
                <!-- End Profile -->
        
        <!-- Start Profile -->
                  <div class="col-xs-4" >
                      <div class="image-wrap">
                            <div class="hover-wrap">
                                <span class="overlay-img"></span>
                                <span class="overlay-text-thumb">Guests Responses</span>
                            </div>
                            <img src="rsvp_new.jpg" alt="Reservations">
                        </div>
                      
                        <p class="profile-description" style="font-family: 'Montserrat', cursive; font-size: 18px; color: #00193a;">Your Guests can respond by RSVPing, informing you of their intents to attend or not.  Attending or not your guest can be a part of the occasion prepartions. </p>
                          
                        
                    </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
                      <div class="col-xs-4" >
                          <div class="image-wrap">
                                <div class="hover-wrap">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb">Photo Album &amp; Guest Perspectives</span>
                                </div>
                                <img src="photo_new1.jpg" alt="Joshua Insanus">
                            </div>
                           
                            <p class="profile-description" style="font-family: 'Montserrat', cursive; font-size: 18px; color: #00193a;">Upload your occasion photo album for all your guest to view. Guest also can share photos taking from individual lenses to add more colour and perspectives to the overall pictures. Keep a record of your pre-party picture, d-day photo album. Share these photos with other several others by sharing on Facebook, Instagram etc.</p>
                              
                         </div>  

                         </div> 
        <!-- End Profile -->
        
    
    <!-- End People -->
             </div>

</div>

</div>


<footer >

  <p class="credits" >&copy;&nbsp;&nbsp;2017 Baffsup.com, Crafted by <a href="http://designscrazed.org/" title="Baffsup | Load Anything ...">&nbsp;&nbsp;Dev Team</a></p>


      <a class="btn-slide animation animated-item-3" href="/abouts/1">About</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/how_it_works/1">How It Works</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/term_and_conditions/1">Terms & Conditions</a>&nbsp | &nbsp

      <a class="btn-slide animation animated-item-3" href="/privacies/1">Privacy</a>&nbsp | &nbsp

      <%= link_to "Contact Us...", new_message_path, :class => "btn-slide animation animated-item-3" %><br /><br />

      <h3>Share on social networks!</h3>
        <%= social_share_button_tag("My Home Page")%>
        




</footer>      


    <%= javascript_include_tag "application", 'data-turbolinks-track': :reload %>
</body>
</html>