<!DOCTYPE html>
<!--
Template Name: Nubumous
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>

   
   <html itemscope itemtype="https://schema.org/Article">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= content_for?(:title) ? yield(:title) : "Baffup" %></title>
        <meta name="description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Keep records of guests, photos, and comments" />
        <meta itemprop="name" content="Baffup for your occassion">
        <meta itemprop="description" content="Baffup for your occassion">
        <meta itemprop="image" content="https://www.example.com/image.jpg">
        <meta name="twitter:card" content="organize, your guests, get them to RSVP">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="Baffup for your occassion">
        <meta name="twitter:description" content="Baffup for your occassion">
        <meta name="twitter:creator" content="@author_handle">
        <meta name="twitter:image:src" content="https://www.example.com/image.jpg">
        <meta property="og:title" content="Baffup for your occassion" />
        <meta property="og:type" content="Baffup" />
        <meta property="og:url" content="https://www.example.com/" />
        <meta property="og:image" content="https://example.com/image.jpg" />
        <meta property="og:description" content="Baffup for your occassion" />
        <meta property="og:site_name" content="baffup" />
        <meta property="article:published_time" content="2017-04-19T05:59:00+01:00" />
        <meta property="article:modified_time" content="2017-04-19T19:08:47+01:00" />
        <meta property="article:section" content="Article Section" />
        <meta property="article:tag" content="Article Tag" />
        <meta property="fb:admins" content="Facebook numberic ID" />


   
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %> 
       <%= stylesheet_link_tag    'publec_main' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <link href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata:italic|Droid+Sans|Amatic+SC|Josefin+Slab|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico" rel="stylesheet">

     
          
       <%= csrf_meta_tags %>
     
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <h3 class="heading">Load Your all memorable OCASSIONS</h3>
            <p>Baffsup is a social network platform which is an all-in-one solution for managing your most important occassion</p>
            <p class="font-x1 uppercase bold">Elit ligula sit amet malesuada</p>
            <footer>
              <ul class="nospace inline pushright">
                 <% if user_signed_in? %>

		            <div class="buttons">
		              <li style="font-family: 'Inconsolata:italic', serif;"><%= link_to 'rrrrrrrmYCatlog', profiles_path , :class => "btn" %></i></li>
		               
		                <li style="font-family: 'Inconsolata:italic', serif;"><%= link_to 'kkhhhhggSIGN OUT', destroy_user_session_path, method: 'delete', :class => "btn" %></li>


		           <% else %>

		           <div class="collapse navbar-collapse navbar-right">

		                <li style="font-family: 'Inconsolata:italic' , serif;"><%= link_to "OCCASSION LOADING...", profiles_path, :class => "btn"  %></li>

		               
		                <li style="font-family: 'Inconsolata:italic', serif;"><%= link_to 'gdrfgggggSIGN IN', new_user_session_path, :class => "btn" %></li>
                
 
            <% end %> 
              </ul>
            </footer>
          </article>
        </li>
        
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul>
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul>
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h6 class="header nospace">Vehicula magna porttitor</h6>
      <p class="nospace">At tellus gravida non integer mollis libero ultricies volutpat arcu elementum</p>
    </div>
    <footer class="one_quarter"><a class="btn" href="#">Tincidunt praesent &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="container">
    <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title" style="font-family: 'Tangerine', serif; font-size: 58px; font-weight: bold; color: red ">LOAD ALL YOUR GET-TOGETHER, EVENTS, PARTIES, CEREMONIES ETC </h2>
                        <h3 class="title-description" style="font-family: 'Pacifico', serif; font-size: 28px">Register &amp; Start Loading</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
    
    <!-- People -->
       <div class="row">
      
        <!-- Start Profile -->
        <div class="span12">
              <div class="span4 profile">
                  <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Manage Your Invites</span>
                        </div>
                        <img src="invitation.jpg" alt="invite">
                   </div>
                    <h3 class="profile-name" style="font-family: 'Tangerine', serif; font-size: 58px; font-weight: bold; color: red ">Invitations</h3>
                    <p class="profile-description" style="font-family: 'Pacifico', serif; font-size: 20px; color: white; ">Invite GUESTS with few clicks into any of your Occassion. All you have to provide is your guests email address for new users. Existing users only a single click to invite them. You can then manage your specific relationships amongst your invited guests. ie Family, Friends, Collegues, Planners etc.
                    Engage your guests such that all important information regarding party can be shared in real time. Information about changes to plan, Dress code - ASO EBI, party themes etc. Guest are also able to send their greetings and even respond to your information.</p>
                      
                    
                </div>
                <!-- End Profile -->
        
        <!-- Start Profile -->
                  <div class="span3 profile">
                      <div class="image-wrap">
                            <div class="hover-wrap">
                                <span class="overlay-img"></span>
                                <span class="overlay-text-thumb">Guests Responses</span>
                            </div>
                            <img src="rsvp.jpg" alt="Reservations">
                        </div>
                        <h3 class="profile-name" style="font-family: 'Tangerine', serif; font-size: 58px; font-weight: bold; color: red ">R S V P</h3>
                        <p class="profile-description" style="font-family: 'Pacifico', serif; font-size: 20px; color: white;">Your Guests can send you RSVP to inform you of their intention to attend or not, which helps you in the planning and preparation for the occassion as the case may by. Either attending or not your guest can be a part of the party prepartion, even the d-day all in real time with the communication system. </p>
                          
                        
                    </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
                      <div class="span4 profile">
                          <div class="image-wrap">
                                <div class="hover-wrap">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb">Photo Album &amp; Guest Perspectives</span>
                                </div>
                                <img src="frames.jpg" alt="Joshua Insanus">
                            </div>
                            <h3 class="profile-name" style="font-family: 'Tangerine', serif; font-size: 58px; font-weight: bold; color: red ">Photos</h3>
                            <p class="profile-description" style="font-family: 'Pacifico', serif; font-size: 20px; color: white;">You cab upload your photo album for all your guest to view. Guest also can share photos taking from individual lenses to add more colour and perspectives to the overall pictures. Keep a record of your pre-party picture, d-day photo album. Share these photos with other several others by sharing on Facebook, Instagram etc.</p>
                              
                         </div>  

                         </div> 
        <!-- End Profile -->
        
    
    <!-- End People -->
             </div>

</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h3 class="heading">Nubumous</h3>
    <ul class="nospace inline pushright uppercase">
      <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Disclaimer</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <div id="copyright">
      <p>Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
      <p class="font-xs">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
  <%= javascript_include_tag "application", 'data-turbolinks-track': true %>

   <%= javascript_include_tag "jquery.backtotop" %>

    <%= javascript_include_tag "jquery.flexslider-min" %>

     <%= javascript_include_tag "jquery.mobilemenu" %>
</body>
</html>