<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" >
<head>
      <html itemscope itemtype="http://schema.org/Article">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
        <meta name="description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Keep records of guests, photos, and comments" />
        <meta itemprop="name" content="Baffsup for your occassion">
        <meta itemprop="description" content="Baffsup for your occassion">
        <meta itemprop="image" content="http://www.example.com/image.jpg">
        <meta name="twitter:card" content="organize, your guests, get them to RSVP">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="Baffsup for your occassion">
        <meta name="twitter:description" content="Baffsup for your occassion">
        <meta name="twitter:creator" content="@author_handle">
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg">
        <meta property="og:title" content="Baffsup for your occassion" />
        <meta property="og:type" content="Baffsup" />
        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Baffsup for your occassion" />
        <meta property="og:site_name" content="Baffsup" />
        <meta property="article:published_time" content="2017-04-19T05:59:00+01:00" />
        <meta property="article:modified_time" content="2017-04-19T19:08:47+01:00" />
        <meta property="article:section" content="Article Section" />
        <meta property="article:tag" content="Article Tag" />
        <meta property="fb:admins" content="Facebook numberic ID" />

    

    <%= javascript_include_tag "application", media: 'all', 'data-turbolinks-track': :reload %>

    <%= javascript_include_tag "statamain" %>
    


    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mogra|Ewert|Julius+Sans+One|Lily+Script+One|Petit+Formal+Script|Playball|Ravi+Prakash|Rye|Raleway|Tangerine|Inconsolata:italic|Droid+Sans|Amatic+SC|Josefin+Slab|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico" rel="stylesheet">

     <style>
      body {

      	     font-family: 'Annie Use Your Telescope', cursive;
             font-family: 'Pacifico', serif;
             font-family: 'Tangerine', serif;
             font-family: 'Inconsolata:italic', serif;
             font-family: 'Droid+Sans', serif;
             font-family: 'Amatic+SC', serif;
             font-family: 'Josefin+Slab', serif;
             font-family: 'Open+Sans', serif;
             font-family: 'Open+Sans+Condensed:300', serif;
             font-family: 'Oswald', serif;

             font-family: 'Mogra', cursive;

            font-family: 'Ravi Prakash', cursive;

            font-family: 'Playball', cursive;

            font-family: 'Julius Sans One', sans-serif;

            font-family: 'Petit Formal Script', cursive;

            font-family: 'Lily Script One', cursive;

            font-family: 'Rye', cursive;

            font-family: 'Ewert', cursive;

            font-family: 'Raleway', sans-serif;

             
           
      }
    </style>


         <%= csrf_meta_tags %>
    
</head>



  <body id="top">

   <header id="header">

	  <div class="inner">

	     <a href="#" class="image avatar"><%= image_tag(@profile.image.url(:large)) %></a>


	      <div class="dropdown">
			                            
			      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" type="button" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; "><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;<%= @profile.name %>&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></i></a>

				     <ul class="dropdown-menu">

				     <li><%= link_to "Upload a Picture", edit_picture_profiles_path(@profile), :type => "button", :class => "btn btn-info", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 16px; "  %></li>

				     
				     <li><%= link_to "" %></li>



				       <li><%= link_to "Edit_Profile", edit_profile_path(@profile), :type => "button", :class => "btn btn-info", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 16px;" %></li>
				      

				     </ul>
			         

			 </div>



					
    <aside>
					
					
        
             <button"><h3><strong><%= link_to '', new_party_path %></strong></h3></botton><br>
                                     

             <div></div>
             
         

            
					
					<br />
					<br />

					<ul class="icons">

		
                        <h2><strong><%= link_to 'Start_Loading', new_party_path, :type => "button", :class => "btn btn-danger", :style => "font-family: 'Mogra', cursive; font-size: 16px; color: black" %></strong></h2><br>

							<br />
							<br />
						
						
						
						  <span class="badge bg-important badge-success" >


						       <h4 id="notice" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: black;"><%=link_to "#{@profile.user.notifications.count}", notifications_path, :title => "Occassion | Invitations ... " %>
						       	
						       <h4>

						       <li><i class="fa fa-bell " aria-hidden="true"></i></li>


						   </span>
						  
						  
												
					</ul>

					<br />
					
				


					 <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', :style => "font-family: 'Mogra', cursive;" %>

					
					 <br />
					 <br />
					 <br />
					

						<p style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; ">&copy; Baffsup 2017</p>

		</aside>

   </div>


	</header>
     

	<!-- Main -->
 <div id="main">

  <section id="one">

		    <header class="major">
							<h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 30px;">Create and manage your occassions. Keep records of your most important moments and share with your loved ones.<br />
							Its easy and free !!!</h2>
			</header>

  </section>


  <section style="background-image: url(pub_back4.jpeg); background-size: 1200px 620px;">


        <div >



            <%= yield %>

            

        </div>

    </section>


	<section id="two">

       <div style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: black"> Lists of my visitor's page for all occasions am invoveld in, either as the host or guest.<br /> Click the title of the occassion to be a part of the fun.</div>

			<div class="row">
			

			<%= render @profile.user.visitors.all %> <br /> <br />


						           
	   </div>





			</section>

			</div>


			<section id="footer">
				<div class="inner">
					
					
			</section>

       

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': :reload %> 

    <%= stylesheet_link_tag    'stratamain' %>
       
		



	</body>
</html>


