<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" >
<head>
      

       <html itemscope itemtype="http://schema.org/Article">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= content_for?(:title) ? yield(:title) : "Baffsup" %></title>
        <meta name="description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments" />
        <meta itemprop="name" content="Baffsup for your occassion">
        <meta itemprop="description" content="Baffsup for your occassion">
        <meta name="twitter:card" content="organize, your guests, get them to RSVP">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="Baffsup for your occassion">
        <meta name="twitter:description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments">
        <meta name="twitter:creator" content="@author_handle">
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg">
        <meta property="og:title" content="Baffsup for your occassion" />
        <meta property="og:type" content="Baffsup" />
        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Manage and  keep records of guests, photos, and comments" />
        <meta property="og:site_name" content="baffsup" />

  <%= javascript_include_tag "application", media: 'all', 'data-turbolinks-track': :reload %>


   

  <%= javascript_include_tag   'datepicker' %>


    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mogra|Ewert|Julius+Sans+One|Lily+Script+One|Petit+Formal+Script|Playball|Ravi+Prakash|Rye|Raleway|Tangerine|Inconsolata:italic|Droid+Sans|Amatic+SC|Josefin+Slab|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico" rel="stylesheet">

  <style>
      body {

      	     font-family: 'Annie Use Your Telescope', cursive;
           
             font-family: 'Mogra', cursive;


            font-family: 'Raleway', sans-serif;

             
           
      }
    </style>


         <%= csrf_meta_tags %>
    
</head>


  <body id="top">

   <header id="header">

	  <div class="inner">

	     <a href="#" class="image avatar"><%= image_tag(@profile.image.url(:large), cached: true ) %></a>
       <div class="actions">
        <%= link_to "Update Picture", edit_picture_profiles_path(@profile), :type => "button", :class => "btn btn-primary", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;"  %>

        
       
      </div><br />

       <p style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;"><i class="fa fa-user fa-fw fa-2x"></i>&nbsp;&nbsp;<strong style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #915b05; font-weight: bold;"><%= @profile.name %></strong></p>


  <div class="dropdown">
                                      
  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" type="button" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #915b05; "><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Profile Settings&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></i></a>

   <ul class="dropdown-menu">

                  
        <li><%= link_to "" %></li>



      <li><%= link_to "Edit_Profile", edit_profile_path(@profile), :type => "button", :class => "btn btn-default", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: black; font-weight: bold;" %></li>

        <li><%= link_to "" %></li>


      <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', :type => "button", :class => "btn btn-default", :style => "font-family: 'Julius Sans One', sans-serif; font-size: 14px; color: black; font-weight: bold;"  %></li>
                  

    </ul>
                   

  </div>
  <br /><br />


    
<aside>
	         


                            
    <div class="media-body">

      <p style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">Contact me through My Email: &nbsp;<strong style="color: red; font-weight: bold;"><%= @profile.email %></strong></p>
      
      </div>
                     

    <div class="media-body">
      
       <p style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">Gender<br /><strong style="color: red; font-weight: bold;"><%= @profile.gender %></strong></p>
                  
     </div>

    
      <div class="media-body">
     
      
      <p style="font-family: 'Julius Sans One', sans-serif; font-size: 12px; color: black; font-weight: bold;">We can have fun together doing what i like to do. <br /><strong style="color: red; font-weight: bold;"><%= @profile.hobbies %></strong></p>
      
      </div>


		
		 <img src="/b_logo1.png" width="120" height="100" border="5" >

			<p style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #915b05; font-weight: bold;">&copy; Baffsup 2017</p>

		</aside>

   </div>


	</header>
     

	<!-- Main -->
 <div id="main">

  <section id="one">

    <div class="major">

     <h2 style="font-family: 'Julius Sans One', sans-serif; font-size: 20px;">Create and manage your occasions. Keep records of your most important moments and share with your loved ones.<br />Its easy and free !!!
     </h2>



      <p>

       <h2><strong><%= link_to 'Start_Loading', new_party_path, :type => "button", :class => "btn btn-danger", :style => "font-family: 'Mogra', cursive; font-size: 16px; color: black" %></strong></h2>

       </p>

       <p>


 <a href="" data-toggle="modal" data-target="#index_notifications_modal" style="font-family: 'Annie Use Your Telescope', cursive; font-size: 14px; color: black; font-weight: bold;" title="Occassion | Invitations ..." ><span class="badge bg-important"><%= "#{@profile.user.notifications.count}" %></span><i class="fa fa-bell fa-3x " aria-hidden="true" style="color: red;" ></i></a>

      <div class="modal fade" id="index_notifications_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">    

 

          <div class="modal-dialog">  

                   <div class="modal-content">

                        <div class="modal-header" >

                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                 

                             <h4 class="modal-title" id="myModalLabel" style="font-family: 'Annie Use Your Telescope', cursive; font-size: 16px; color: black; font-weight: bold;">Invivitation Notifications</h4>
                                                          
                        </div>
                                                
                      <div class="modal-body" style="background-color: #e5f4f9; width: 100%; height: 100%; overflow: auto;">
                                                       
                         <%= render @profile.user.notifications, modal: true %> 



                                  <div class="modal-footer">

                                     <button type="button" class="btn btn-default" data-dismiss="modal" style="font-family: 'Annie Use Your Telescope', cursive; font-size: 16px; color: black; font-weight: bold;">Close</button>

                              </div>
                                              
                         </div>

                  </div>
                              
            </div>
                          
      </div>
      </p>
            

     </div>


  
       
	    

  </section>


  <section >

    <div >



            <%= yield %>

            

        </div>




        
    </section>


	<section id="two">

       <div style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: black"> Lists of my visitor's page for all occasions am invoveld in, either as the host or guest.<br /> Click the title of the occassion to be a part of the fun.</div><br /><br />

			<div class="row">
			
            

			<%= render @profile.user.visitors.all %> <br /> <br />

						           
	   </div>



	</section>

  </div>
   <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#profile_age').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
        </script>
  

	</body>




        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': :reload %>

        <%= stylesheet_link_tag    'stratamain' %>

        <%= stylesheet_link_tag    'datepicker' %>

        

</html>

