<!DOCTYPE html>
<html lang="en">
<head> 

    <html itemscope itemtype="http://schema.org/Article">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= content_for?(:title) ? yield(:title) : "Baffup" %></title>
        <meta name="description" content=" Load all your occassion and make them unforgettable. Your one-stop Occassion catalogue, Keep records of guests, photos, and comments" />
        <meta itemprop="name" content="Baffup for your occassion">
        <meta itemprop="description" content="Baffup for your occassion">
        <meta itemprop="image" content="http://www.example.com/image.jpg">
        <meta name="twitter:card" content="organize, your guests, get them to RSVP">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="Baffup for your occassion">
        <meta name="twitter:description" content="Baffup for your occassion">
        <meta name="twitter:creator" content="@author_handle">
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg">
        <meta property="og:title" content="Baffup for your occassion" />
        <meta property="og:type" content="Baffup" />
        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Baffup for your occassion" />
        <meta property="og:site_name" content="baffup" />
        <meta property="article:published_time" content="2017-04-19T05:59:00+01:00" />
        <meta property="article:modified_time" content="2017-04-19T19:08:47+01:00" />
        <meta property="article:section" content="Article Section" />
        <meta property="article:tag" content="Article Tag" />
        <meta property="fb:admins" content="Facebook numberic ID" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>

    <%= stylesheet_link_tag    'ps_main' %>

     

    

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link href="https://fonts.googleapis.com/css?family=Oswald|Inconsolata:italic|Averia+Serif+Libre|Courgette|Handlee|Parisienne|Sacramento" rel="stylesheet"> 

      <style>
      
      body {
             
            font-family: 'Handlee', cursive;
            font-family: 'Sacramento', cursive;
            font-family: 'Parisienne', cursive;
            font-family: 'Averia+Serif+Libre', cursive;
            font-family: 'Courgette', cursive;
            font-family: 'Inconsolata:italic', cursive;
                                   
          }
    </style>
     
       <%= csrf_meta_tags %>
    
</head>

<body>


 <header id="header">
        
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo">

                      <a title="Baffsup | Load Anything ... ">Baffsup Template</a>
                    </div>


                </div>
        
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                      
                        <li class="active"><%= link_to 'mYCATLOG', profiles_path(:profile_id => @visitor.user.profile.id), :style => "font-family: 'Inconsolata:italic', serif; font-size: 20px;"  %></li>
                        <li><a href=""></a></li>
                        <% if @visitor != @party.visitors.first  %> 
                        <li><%= link_to 'R S V P', new_reservation_path(:visitor_id => @visitor.id), :style => "font-size: 18px;" %></li>
                        <li><a href=""></a></li>
                        <% else @visitor = @party.visitors.first %>
                        <li><%= link_to 'OCCASSION', party_path(@party), :style => "font-size: 18px;" %></li>
                        <% end %> 
                        <li><%= link_to 'ALBUMS', visitor_catalogues_register_path(:visitor_id => @visitor.id, :party_id => @visitor.party.id), :style => "font-size: 18px;" %></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style ="font-size: 18px;" ><%= @visitor.party.title %>&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="" style ="font-family: 'Handlee', serif; font-size: 15px; font-weight: bold;" >Host: <%= @visitor.party.user.name %></a></li>
                                <li><a href="" style ="font-family: 'Handlee', serif; font-size: 15px; font-weight: bold;" >Venue : <%= @visitor.party.venue %></a></li>
                                <li><a href="" style ="font-family: 'Handlee', serif; font-size: 15px; font-weight: bold;" >Date : <%= @visitor.party.date %></a></li>
                            </ul>
                        </li>
                                              
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    
    </header><!--/header-->


   
<section id="pform">    

  <div class="container">

      <div class="row">

        <div class="col-sm-4 ">

             <%= render 'albums/visit_form' %>

        </div><!--/.col-sm-6-->

        <div class="col-sm-4 ">

         <% if @visitor != nil %>  

            <% if @visitor.reservation.present? %>

               <h1 style ="font-family: 'Handlee', serif; font-size: 38px; font-weight: bold; color: red;" >You have been reserved for this party</h1>

                  <i class="fa fa-check fa-5x" aria-hidden="true"></i>


            <% elsif @visitor != @party.visitors.first  %>

                <h1 style ="font-family: 'Handlee', serif; font-size: 38px; font-weight: bold; color: red;">Reserve you space on this Occassion</h1>

            <% end %>

               <% else @visitor = @party.visitors.first %>  

               <h1 style ="font-family: 'Handlee', serif; font-size: 38px; font-weight: bold; color: red;">Check your R S V P List in your Occasion Page</h1>

              


          <% end %>

        
        </div>

        <div class="col-sm-4 ">

        <section id="features">
        <div class="container" style="font-family: 'Julius Sans One', sans-serif; font-size: 30px";>
                      
            <div class="media service-box wow fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading" >Date &amp; Time</h4>
                      <p style="font-family: 'Raleway', sans-serif; font-size: 22px;">This Occasion is scheduled for the &nbsp;<strong style="color: red"><%= localize(@party.created_at, format: :long) %></strong></p>
                  </div>
                     
                  </div>

                  <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Occassion Venue</h4>
                       <p style="font-family: 'Raleway', sans-serif; font-size: 22px;">It is going to be held at the <br /><strong style="color: red"><%= @party.venue %></p></strong>
                    </div>
                  </div>

                  <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                     <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Guest RSVP BY</h4>
                      <p style="font-family: 'Raleway', sans-serif; font-size: 22px;">Expecting all RSVP back by the <br /><strong style="color: red"><%= localize(@party.rsvp_by, format: :long) %></p></strong>
                    </div>
                  </div>

                      
              </div>
        </div>
        
    </section>

    </div>
   
   </div><!--/.row-->

</div>

</section>

    <section id="content" class="gallery">
       <div class="container">
    <div class="row">

      <%= render @visitor.party.albums %>
 
    </div>
  </div>



</section>

<div class="container">

      <div class="row text-center">

      <%= render "comments/widget", visitor: @visitor %>

    </div>

  </div>


  <%= javascript_include_tag "application", media: 'all', 'data-turbolinks-track': true %>

  <%= javascript_include_tag "ps_main" %>




   </body>

</html>





